body {
  color: #208fb9;
}
article{
  float:left;
  border-style: solid;
  border-width: thin;
}
h1{
  text-align: center;
  letter-spacing: 5px;
  word-spacing: 20px;
  font-family: Arial, Verdana;
}
p {
  font-family: Arial, Verdana;
}

.imagen {
  width: 300px;
}

img{
	width: 30%;
}
#descripcion {
  text-align: center;
}

aside{
  text-align: left;
}
#suma{
  font-weight: bold;
  text-decoration: underline;
}

#contenedor{
	width: 1000px;

}
