extends base
include mixins/picture

block content
    .jumbotron
        h1 Novedades:
    div.row
        - for (var i = 0; i < 6; ++i) {
        div.col-md-4
            +picture(pics[i].imagen, pics[i].price, pics[i].title)
        - }
